* {
  opacity: 10%;
  transition: all 0.3s ease-in;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Credits to Wallpapertag.com */
  background-image: url('space-background.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
}

.sol {
  opacity: 0.95;
  width: auto;
  height: auto;
}

.tit-pl {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 1px;
}

h3 .tit-h3 {
  font-family: Roboto, Helvetica;
  font-size: 50px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
  margin-bottom: 0;
  padding: 0;
}

h5 {
  font-family: Roboto, Helvetica;
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
  margin-bottom: 0;
  padding: 0;
}

p {
  color: white;
  margin-top: 0;
  font-family: Roboto, sans;
}

h3 .tit-h3:hover {
  opacity: 0.8;
}

a .planet, .star {
  cursor: zoom-in;
}

.planet {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  position: relative;
  margin: 20px 10px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
  border-radius: 50%;
  opacity: 0.9;
  margin-bottom: 100px;
}

.planet:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 99999;
  border-radius: 50%;
  -webkit-transition: all 150ms ease-in-out 150ms;
  -webkit-transform: scale(2);
  -ms-transition: all 150ms ease-in-out 150ms;
  -ms-transform: scale(2);
  -moz-transition: all 150ms ease-in 150ms;
  -moz-transform: scale(2);
  transition: all 150ms ease-in-out 150ms;
  transform: scale(2);
  opacity: 1;
}

.star {
  border: 40px solid rgba(255, 255, 255, 0.1);
  width: 20px;
  height: 20px;
  position: relative;
  margin: 50px 10px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
  border-radius: 50%;
  opacity: 0.9;
  margin-bottom: 100px;
}

.star:hover {
  box-shadow: 0px 0px 150px #000000;
  border-radius: 50%;
  -webkit-transition: all 200ms ease-in-out 200ms;
  -webkit-transform: scale(1.2);
  -ms-transition: all 300ms ease-in-out 300ms;
  -ms-transform: scale(1.2);
  -moz-transition: all 300ms ease-in 300ms;
  -moz-transform: scale(1.2);
  transition: all 300ms ease-in-out 300ms;
  transform: scale(1.2);
  opacity: 1;
}

#sun {
  width: 1000px;
  height: 1000px;
  margin-top: 100px;
  background-color: #fdb813;
}

#mercury {
  width: 4.879px;
  height: 4.879px;
  margin-top: 5800px;
  background-color: #e6e6e6;
}

#venus {
  width: 24px;
  height: 24px;
  margin-top: 5000px;
  background-color: #a57c1b;
}

#earth {
  width: 26px;
  height: 26px;
  margin-top: 4200px;
  background-color: #28726e;
}

#mars {
  width: 12px;
  height: 12px;
  margin-top: 7800px;
  background-color: #c41f0d;
}

#jupiter {
  width: 286px;
  height: 286px;
  margin-top: 55000px;
  background-color: #d8ca9d;
}

#saturn {
  width: 240px;
  height: 240px;
  margin-top: 66500px;
  background-color: #e3e0c0;
}

#uranus {
  width: 100px;
  height: 100px;
  margin-top: 143800px;
  background-color: #d1e7e7;
}

#neptune {
  width: 98px;
  height: 98px;
  margin-top: 162400px;
  margin-bottom: 1000px;
  background-color: #44667f;
}
